<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tickets{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header">
        <a class="logo">Ticketing System</a>
        <div class="header-right">
            <a href="{% url 'ticketview' %}"><input type="submit" value="Home Page" /></a>
        </div>
    </div>
    <div id="body"> {% block content %}{% endblock %} </div>
</body>

</html>