{% extends 'base.html' %}
{% block title %} Tickets {% endblock %}
{% block content %}
{% load static %}

<form method="POST" action="{% url 'registeruser' %}" >

    {% csrf_token %}

    <h3 style="color: red;">{{msg}}</h3>
    <h3><label>Select Role:</label>
        <select name="registerrole">
            <option>User</option>
            <option>Admin</option>
        </select></h3>

    <h3>Username : </h3>
    <input type="text" name="registerusername"><br>

    <h3>Password : </h3>
    <input type="password" name="registerpassword"><br>

    <br>
    <a href="{% url 'index' %}"><input type="submit" value="Register" /></a>
    
</form>

{% endblock %}